#sidebar {
	float: left;
}
#menu{
	padding: 15px;
}
#layout_content
{
	float: right;
	width: 100%;
	overflow-x: scroll;
}
@media screen and (max-width: 768px) {
  #sidebar {
    float: none;
    width: 100%;
  }
  #layout_content {
    float: none;
  }
}
